.Card {
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem;
  gap: 1rem;

  .Product {
    border: 1px solid #dddddd;
    border-radius: 1rem;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;

    img {
      height: 200px;
      width: 200px;
      border-radius: 1rem;
    }

    h3 {
      margin-top: 1rem;
    }

    .Ingredient {
      display: flex;
      flex-direction: column;
    }
  }

  div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .Delete {
      background: #fa0707;
      color: #fff;
    }
    
    .Edit {
      background: rgb(70, 235, 70);
      color: #fff;
    }
  }
}
